.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
    width: 50% !important;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg,
.md-nav__button.md-logo img,
.md-nav__button.md-logo svg {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}